.post
	position relative
	padding 1em 0 0 3.5em

	&__avatar
		width 2.5em
		position absolute
		top 1em
		left 0

	&__body
		margin .3em 0

	&__buttons
		color gray

	&__age
		color gray
	
	&__nickname
		text-decoration none
		color #2d9eee
	
	&__replyto
		border-bottom 1px dotted #000
		&::before
			content '\21b6'
			margin-left .2em

	&__subposts
		font-size .9rem