extends layouts/root

block content
	-
		var comments = [
			{ 
			user: "DinosaurFaceOverlord", 
			daysOld: 14, 
			content: "Lorem ipsum<br> dolor sit amet consectetur, adipisicing elit.", 
			avatarUrl: "https://avatars3.githubusercontent.com/u/13423373?s=460&v=4",
			children : [
				{ 
				user: "Alfondo gonz",
				daysOld: 14, 
				content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit.", 
				avatarUrl: "https://avatars3.githubusercontent.com/u/13423373?s=460&v=4" 
				},
				{ 
				user: "ShadrachSmith",
				daysOld: 14, 
				content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit.", 
				avatarUrl: "https://avatars3.githubusercontent.com/u/13423373?s=460&v=4",
				children: [
					{ 
					user: "Alfondo gonz",
					daysOld: 14, 
					content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit.", 
					avatarUrl: "https://avatars3.githubusercontent.com/u/13423373?s=460&v=4" 
					},
					{ 
					user: "KirkFOUC",
					daysOld: 14, 
					content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit.", 
					avatarUrl: "https://avatars3.githubusercontent.com/u/13423373?s=460&v=4",
					children: [
						{ 
						user: "AlexGalifiakis",
						daysOld: 14, 
						content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit.", 
						avatarUrl: "https://avatars3.githubusercontent.com/u/13423373?s=460&v=4" 
						},
					]
					},
				]
				},
				]
			},
			{ 
				user: "Alfondo gonz",
				daysOld: 14, 
				content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit.", 
				avatarUrl: "https://avatars3.githubusercontent.com/u/13423373?s=460&v=4" 
			},
			{ 
				user: "ShadrachSmith",
				daysOld: 14, 
				content: "Lorem ipsum dolor sit amet consectetur, adipisicing elit.", 
				avatarUrl: "https://avatars3.githubusercontent.com/u/13423373?s=460&v=4" 
			},
			]

	+header('Yo!')
	+comments(comments)