include ../../node_modules/bemto.pug/bemto
include ../blocks/all
include ../globals/data

- 
	set_bemto_settings({
		prefix: '',
		element: '__',
		modifier: '_'
	})

doctype html
html
	head
		link(rel="stylesheet" href="/assets/app.css")
	body
		block content
		script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous")
		script(src="/assets/app.js")
